{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Commented out as it creates an alert after the page has been loaded for 3 seconds. -->
    <!-- <script src="{% static 'js/app.js' %}" defer></script> -->
    <title>Guillaume's Site</title>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
